.wrapper {
    height: calc(100dvh - 52px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .mail {
        padding: .75rem 1rem .5rem 1rem;
        background-color: var(--color-background);
        text-transform: uppercase;
        font-family: "Overpass Mono", monospace;
        z-index: 99;
        color: var(--color-text-muted);
        transition: 300ms ease-in-out;

        &:hover {
            color: var(--color-text);
        }
    }

    .centered-label {
            display: block;
            line-height: 1rem;
            transform: translateY(-1px);
        }

        @supports (font: -apple-system-body) {
            .centered-label {
                transform: translateY(4px);
            }
        }
}


@media screen and (hover:none) {
    .mail {
        color: var(--color-text);
    }
}