.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 100dvh;
    background-color: var(--color-background);
    gap: 1rem;
    animation-delay: 500ms;

    .linknf {
        font-family: "Overpass Mono", monospace;
        color: var(--color-text-muted);
        display: flex;
        z-index: 999;
        transition: 300ms ease-in-out;

        &:hover {
            color: var(--color-text);
        }
    }
}

.NotFound p {
    color: var(--color-text-muted);
}