.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-background);
    color: var(--color-text-muted);

    .linkhuno {
        display: flex;
        gap: .25rem;
        align-items: baseline;
        font-size: 1rem;

        &:hover {
            h1 {
                color: var(--color-text);
            }

            .cuadrado {
                color: var(--color-text);
            }
        }

        h1 {
            font-family: "Overpass Mono", monospace;
            transition: 200ms ease-in-out;
        }

        .cuadrado {
            font-size: 1.5rem;
            transform: translateY(1px) scale(80%);
            transition: 200ms ease-in-out;
        }
    }

    .nav .navul {
        display: flex;
        gap: 1.5rem;

        .navli {
            font-family: "Overpass Mono", monospace;
            transition: 200ms ease-in-out;
            display: flex;
            gap: .5rem;

            .cuadrado {
                transform: translateY(-3px) scale(80%);
            }

            &:hover {
                color: var(--color-text);
            }
        }

        .active .navli {
            color: var(--color-text);
            font-weight: 600;
        }
    }

    .botonesNav {
        display: none;
    }

    .toggles {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;

        .idiomas {
            display: flex;
            gap: 0.25rem;
            height: 100%;
            align-items: center;
            font-family: "Overpass mono", monospace;

            span {
                color: var(--color-text);
            }

            .btnidm {
                color: var(--color-text-muted);
                transition: 200ms ease-in-out;

                &:hover {
                    color: var(--color-text);
                }
            }

            .btnidmactive {
                color: var(--color-text);
                font-weight: 600;
            }
        }

        .temas {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-family: "Overpass mono", monospace;

            .barrita {
                color: var(--color-text);
            }

            button {
                height: 1.25rem;
                font-size: .5rem;

                .material-symbols-outlined {
                    font-family: 'Material Symbols Outlined';
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    transform: translateY(-1px);
                    transition: 200ms ease-in-out;

                    &:hover {
                        color: var(--color-text);
                    }
                }

                .lleno {
                    font-variation-settings: 'FILL' 1;
                }
            }

            .btnthm {
                color: var(--color-text-muted);
            }

            .btnthmactive {
                color: var(--color-text);
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    .header .nav {
        display: none;
    }

    .header .botonesNav {
        display: block;
    }

    .header .oculto {
        display: none;
    }

    .header .toggles {
        display: none;
    }
}