.app {
    font-family: "Overpass Mono", monospace;
    background-color: var(--color-background);
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .centro {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 1rem;
        line-height: 1rem;
        color: var(--color-text);
        z-index: 2;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-text);
            font-weight: 500;
            pointer-events: none;
            background-color: var(--color-background);
            height: 2.25rem;
            padding: 0 1rem;
            line-height: 1rem;
        }

        .centered-label {
            display: block;
            line-height: 1rem;
            transform: translateY(-1px);
        }

        @supports (font: -apple-system-body) {
            .centered-label {
                transform: translateY(4px);
            }
        }

        .app_navul {
            display: flex;
            flex-flow: column;
            align-items: center;

            .app_navli {
                display: flex;
                align-items: center;
                color: var(--color-text-muted);
                background-color: var(--color-background);
                height: 2.25rem;
                padding: 0 1rem;

                .link {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    color: var(--color-text-muted);
                    line-height: 1rem;
                    transition: 200ms ease-in-out;

                    &:hover {
                        color: var(--color-text);
                    }
                }
            }
        }
    }

    .toggles {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-background);
        padding: .5rem 1rem;

        .idiomas {
            display: flex;
            gap: 0.25rem;
            height: 100%;
            align-items: center;
            font-family: "Overpass mono", monospace;

            span {
                color: var(--color-text);
            }

            .btnidm {
                color: var(--color-text-muted);
                transition: 200ms ease-in-out;

                &:hover {
                    color: var(--color-text);
                }
            }

            .btnidmactive {
                color: var(--color-text);
                font-weight: 600;
            }
        }

        .temas {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-family: "Overpass mono", monospace;

            .barrita {
                color: var(--color-text);
            }

            button {
                height: 1.25rem;
                font-size: .5rem;

                .material-symbols-outlined {
                    font-family: 'Material Symbols Outlined';
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    transform: translateY(-1px);
                    transition: 200ms ease-in-out;

                    &:hover {
                        color: var(--color-text);
                    }
                }

                .lleno {
                    font-variation-settings: 'FILL' 1;
                }
            }

            .btnthm {
                color: var(--color-text-muted);
            }

            .btnthmactive {
                color: var(--color-text);
            }
        }
    }
}

.invisible {
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}